.nav {
  background-color: #F5F7FA;
  padding: 0px;
  margin-bottom: 9%;
}

#navbar {
  /* max-height: 2rem; */
  /* margin-bottom: 20rem; */
  padding: 0px
}

.nav-link{
  color: #171a1d;
  font-size: 16pt;
  background-color: #F5F7FA;
}

.active {
  font-size: 17.5pt;
}
