html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #2D3A8C; */
  animation: pulse 120s infinite;
  height: 100%;
  color:#F5F7FA
}

@keyframes pulse {
  0% {
    background-color: rgb(23, 36, 119);
  }
  10% {
    background-color: #2D3A8C;
  }
  20% {
    background-color: rgb(62, 45, 140);
  }
  30% {
    background-color: rgb(118, 59, 255);
  }
  40% {
    background-color: rgb(176, 108, 231);
  }
  50% {
    background-color: rgb(238, 116, 201);
  }
  60% {
    background-color: rgb(176, 108, 231);
  }
  70% {
    background-color: rgb(118, 59, 255);
  }
  80% {
    background-color: rgb(62, 45, 140);
  }
  90% {
    background-color: #2D3A8C;
  }
  100% {
    background-color: rgb(23, 36, 119);
  }
}



/* #app {
  height: 100%;
  background-image: url("../src/assets/images/pinkleak.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */
